

#two-column{
	width: 800px;
}
#two-column #left{
	width: 400px;
	float: left;
}
#two-column #right{
	width: 400px;
	float: right;
}

.wpcf7 select {
    height: 58px;
    border-radius: 0px !important;
    text-indent: 8px;
}

#photo-padding{
    margin-bottom: 20;
    margin-top: 20;
}