@media only screen and (max-width: 1000px){
	
				.header_bottom,
		nav.mobile_menu{
				background-color: #000000 !important;
		}
		
	 		.subtitle{
			font-size: 14.4px;
		}
	 
  	}

@media only screen and (min-width: 600px) and (max-width: 768px){
			.title h1{
			font-size:49px;
		}
				.title h1{
			font-size:28px;
		}
							
			.subtitle{
			font-size: 14.4px;
		}
	 }

@media only screen and (min-width: 480px) and (max-width: 768px){
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	}

@media only screen and (max-width: 600px){
				.title h1{
				font-size:35px;
			}
				.title h1{
			font-size:20px;
		}
							
 	}

@media only screen and (max-width: 480px){
		section.parallax_section_holder{
		height: auto !important;
		min-height: 400px !important;
	}
		
	
	
	}